
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.semaforo{
   
    margin: auto;
}
.sostenSemaforo{
    width: 10px;
    height: 80px;
    background-color: black;
    margin: auto;
}
.fondoSemaforo{
    display: inline-block;
    width: 80px;
    height: 200px;
    background-color: black;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

.red{
    width: 60px;
    background-color: red;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    
}
.yellow{
    width: 60px;
    background-color: yellow;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.green{
    width: 60px;
    background-color:green;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.purple{
    width: 60px;
    background-color:purple;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

.glow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 15px 15px rgb(233, 204, 125)
}